# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.fvm/
.buildlog/
.history
.svn/
migrate_working_dir/

pubspec_overrides.yaml

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

TFPLAN
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

override.tf
override.tf.json
*_override.tf
*_override.tf.json

supabase.sql
production.sql


/backend/volumes/db/production.sql
/backend/volumes/db/syra_official.sql
/backend/volumes/db/syra_public.sql